<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>需求大厅</title>
		<link rel="stylesheet" type="text/css" href="/css/demandHall.css"/>

		<#include "../public/common.html" encoding="utf-8">
	</head>
	<body>
        <#include "../public/head.html" encoding="utf-8">
		<#include "../public/navigator.html" encoding="utf-8">
		<div class="content">
			<div class="contentBox">
				<div class="contentBox-choose">
					<ul class="contentBox-choose1">
						<li class="li-1">供需大厅</li>
						<li>所有</li>
						<li>个人</li>
						<li>公司</li>
					</ul>
					<br />
					<ul class="contentBox-choose1">
						<li class="li-1">服务提供</li>
						<li >全部</li>
						<li>个人服务</li>
						<li>公司服务</li>
					</ul>
					<br />
					<ul class="contentBox-choose1">
						<li class="li-1">需求寻找</li>
						<li>全部</li>
						<li>个人需求</li>
						<li>公司服务</li>
					</ul>
				</div>
				<div class="contentBox-body">
					<div class="layui-carousel" id="contentBox-body-list1" lay-filter="contentBox-body-list1">
						<div carousel-item style="background: #FFFFFF;">
							<!--个人第一页-->
							<div class="carousel-item" style="width: 1077px;">
								<div class="list-style" style="margin-left:0px ;">
									<div class="list-style-title" >
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										张大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计萨达萨达所
											</div>

										</div>

									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-title">
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										张大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-title">
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										张大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-title">
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										张大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
							</div>
							<!--个人第二页-->
							<div class="carousel-item">
								<div class="list-style" style="margin-left:0px ;">
									<div class="list-style-title" >
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/1/10.png"/>
									</div>
									<div class="list-style-name">
										王大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-title">
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/1/10.png"/>
									</div>
									<div class="list-style-name">
										王大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-title">
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/1/10.png"/>
									</div>
									<div class="list-style-name">
										王大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-title">
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/1/10.png"/>
									</div>
									<div class="list-style-name">
										王大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div></div>
							<!--个人第三页-->
							<div class="carousel-item">
								<div class="list-style" style="margin-left:0px ;">
									<div class="list-style-title" >
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										张大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-title">
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										张大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-title">
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										张大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-title">
										个人需求
										<img class="list-style-title-img1" src="/images/demandHall1.png"/>
										<div class="list-style-title-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										张大大
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div></div>
						</div>

					</div>
					<div class="layui-carousel" id="contentBox-body-list2" lay-filter="contentBox-body-list2">

						<div carousel-item style="background: #FFFFFF;">
							<div class="carousel-item" style="width: 1077px;">
								<div class="list-style" style="margin-left:0px ;">
									<div class="list-style-1" >
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> <a href="/request/detail?id=1"> 查看详情</a></a>

									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-1">
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details" value="1">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-1">
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-1">
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="list-style" style="margin-left:0px ;">
									<div class="list-style-1" >
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/1/10.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-1">
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/1/10.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-1">
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/1/10.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-1">
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/1/10.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div></div>
							<div class="carousel-item">
								<div class="list-style" style="margin-left:0px ;">
									<div class="list-style-1" >
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-1">
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-1">
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div>
								<div class="list-style">
									<div class="list-style-1">
										公司需求
										<img class="list-style-1-img1" src="/images/demandHall1.png"/>
										<div class="list-style-1-img2">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-headImg">
										<img src="/images/demandHall3.png"/>
									</div>
									<div class="list-style-name">
										某某某有限公司
									</div>
									<div class="list-style-explain">
										我要找国际人才或资源
									</div>
									<div class="list-style-place">
										现所在地
										<span class="list-style-place-span">湖南&nbsp;&nbsp;&nbsp;长沙</span>
										<div class="list-style-place-img">
											<img src="/images/demandHall2.png"/>
										</div>
									</div>
									<div class="list-style-specialty">
										<div class="specialty-label-box">
											<div class="specialty-label specialty-label-style">
												钢琴
											</div>
											<div class="specialty-label specialty-label-style" style="margin-left: 15px;">
												LOGO设计
											</div>
										</div>
									</div>
									<div class="list-style-PerTitle">
										我提供服务产品设计服务，这个……
									</div>
									<div class="list-style-PerContent">
										几乎每一个人对"服务"一词都不会陌生，但如果要回答"什么是服务"，相信没有几个人能说得清楚。 " 服务"也和"管理"一样，很多
									</div>
									<div class="list-style-details">
										<a href="/request/detail?id=1"> 查看详情</a>
									</div>
									<div class="list-style-viewtime">
										<i class="iconfont i-view" > &#xe60d;</i>
										<span class="span-view">13021</span>
										<i class="iconfont i-times">&#xe75f;</i>
										<span class="span-times">2018-03-31 23:59:59</span>
									</div>
								</div></div>
						</div>

					</div>

				</div>

			</div>
		</div>
        <#include "../public/foot.html" encoding="utf-8">

	</body>

	<script>
	layui.use(['form', 'layedit', 'laydate','carousel'], function(){
	  var form = layui.form
	  ,layer = layui.layer
	  ,layedit = layui.layedit
	  ,laydate = layui.laydate
	  ,carousel = layui.carousel
	  ,$ = layui.jquery;

		 $(".language-btns").click(function(){
                if(!$(".span-div").is(':hidden')){//如果当前不隐藏
                    $('.span-div').hide();//就隐藏div
                    $(".language-icon").html("&#xe61a;")
                }else{//否则
					$('.userbox').hide();//就隐藏div
					$(".user-icon").html("&#xe61a;")
                    $('.span-div').show();//那么就显示div
                    $(".language-icon").html("&#xe619;")
                }
            })

            $(".user-btn").click(function(){
                if(!$(".userbox").is(':hidden')){//如果当前不隐藏
                    $('.userbox').hide();//就隐藏div
                    $(".user-icon").html("&#xe61a;")
                }else{//否则
 					$('.span-div').hide();//就隐藏div
 					$(".language-icon").html("&#xe61a;")
                    $('.userbox').show();//那么就显示div
                    $(".user-icon").html("&#xe619;")
                }
            });

		//建造实例
		  carousel.render({
		    elem: '#contentBox-body-list1'
		    ,width: '1077px' //设置容器宽度
		    ,height: " 604px" //高度
		    ,arrow: 'always' //始终显示箭头
		    //,anim: 'updown' //切换动画方式
		    ,autoplay: false
		    ,indicator:"none"
		  });
		  carousel.render({
		    elem: '#contentBox-body-list2'
		    ,width: '1077px' //设置容器宽度
		    ,height: " 604px" //高度
		    ,arrow: 'always' //始终显示箭头
		    //,anim: 'updown' //切换动画方式
		    ,autoplay: false
		    ,indicator:"none"
		  });

		carousel.on('change(contentBox-body-list1)', function(obj){
//			  console.log(obj.index); //当前条目的索引
//			  console.log(obj.prevIndex); //上一个条目的索引
//			  console.log(obj.item); //当前条目的元素对象
			  if(obj.index==0){
			  	$("#contentBox-body-list1 button").eq(0).hide()
			  }else{
			  	$("#contentBox-body-list1 button").eq(0).show()
			  }


			  if(obj.index==$("#contentBox-body-list1 .carousel-item").length-1){
			  	$("#contentBox-body-list1 button").eq(1).hide()
			  }else{
			  	$("#contentBox-body-list1 button").eq(1).show()
			  }
		});

		carousel.on('change(contentBox-body-list2)', function(obj){
//			  console.log(obj.index); //当前条目的索引
//			  console.log(obj.prevIndex); //上一个条目的索引
//			  console.log(obj.item); //当前条目的元素对象
			  if(obj.index==0){
			  	$("#contentBox-body-list2 button").eq(0).hide()
			  }else{
			  	$("#contentBox-body-list2 button").eq(0).show()
			  }


			  if(obj.index==$("#contentBox-body-list2 .carousel-item").length-1){
			  	$("#contentBox-body-list2 button").eq(1).hide()
			  }else{
			  	$("#contentBox-body-list2 button").eq(1).show()
			  }
		});

})
  	</script>
</html>
