<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <#include "../public/common.html" encoding="utf-8">
    <link rel="stylesheet" href="/css/resultPsd.css">
</head>
<body>
<!--头部-->
<#include "../public/head.html" encoding="utf-8">
<!--导航-->
    <#include "../public/navigator.html" encoding="utf-8">

<div class="container">
    <div class="title">重置密码</div>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form layui-form-pane" action="">
                <input type="hidden" name="data" value="${data}">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="email" placeholder="请再输入一遍邮箱">
                        <div class="bord-fa"></div>
                        <i class="iconfont vercode">&#xe75a;</i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input class="layui-input" type="password" name="password" placeholder="请输入您的新密码">
                        <div class="bord-fa"></div>
                        <i class="iconfont vercode">&#xe673;</i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input class="layui-input" type="password" name="password2" placeholder="请再输入一遍密码">
                        <div class="bord-fa"></div>
                        <i class="iconfont vercode">&#xe673;</i>
                    </div>
                </div>
                <div>
                    <button type="button" class="layui-btn nextBtn" style="margin-top: 40px;">提交</button>
                </div>
            </form>
        </div>
    </div>

</div>
        <#include "../public/foot.html" encoding="utf-8">
<script>
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , $ = layui.jquery
                , element = layui.element;

        $(".nextBtn").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/usercenter/reset",
                data: {
                    email: $("[name=email]").val(),
                    data: "${data}",
                    password: $("[name=password]").val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.code != 200) {
                        layer.msg(data.desc);
                        return false;
                    }
                    layer.msg("修改成功");
                    window.location.href = "/login/logout";

                },
                error: function (data) {
                    layer.msg("网络异常，请稍后重试!");
                }
            })
        })

    })
</script>
</body>
</html>