<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>世界汇网</title>
        <link rel="stylesheet" href="css/index.css"/>
		<link rel="stylesheet" href="/js/layui-v2.2.6/layui/css/layui.css"/>
		<script src="/js/layui-v2.2.6/layui/layui.js" ></script>
		<script src="/js/common/common.js" ></script>
		<!--<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>-->
		<link rel="stylesheet" type="text/css" href="../css/head_style.css"/>
	</head>
	<body>
        <#include "../public/head.html" encoding="utf-8">
        <#include "../public/navigator.html" encoding="utf-8">
		<div class="content">
			<div class="content1">
				<img class="img1" src="/images/a.png" height="700"/>
				<img class="img2" src="/images/b.png" height="80"/>
				<img class="img3" src="/images/c.png" height="45"/>
				<img class="img4" src="/images/7.png" width="300"/>
				<img class="img5" src="/images/d.png"/>
				<img class="img6" src="/images/e.png" width="380"/>
				
			</div>
			<div class="search-div">
				<div class="search-box">
					<input type="text" name="title"  placeholder="寻找人才、寻找工作、寻找商用资源" autocomplete="off" class="layui-input"/>
					<button class="layui-btn search-box-btn">搜&nbsp;&nbsp;&nbsp;索</button>
				</div>
			</div>
			
		</div>
			<div class="demand">
				<div class="demand-box">
					<div class="demand-title">
						最新需求
					</div>
					<div class="demand-list">
						<div class="demand-personal">
							<div class="dpt">个人需求</div>
							<#if personalList??>
								<#list personalList as personal>
									<div class="demand-personal-list">
										<div class="demand-personal-list-img">
											<img src="/images/1/12.png" width="100" height="100"/>
										</div>
										<div class="list-conten">
											<p>${personal.title!''}</p>
											<div>${personal.content!''}</div>
										</div>
									</div>
								</#list>
							</#if>
							<div ><span class="demand-personal-btn">更多>></span></div>
						</div>
						<div class="demand-enterprise">
							<div class="dpt">企业需求</div>
							<#if enterpriseList??>
								<#list enterpriseList as enterprise>
									<div class="demand-enterprise-list">
										<div class="demand-enterprise-list-img">
											<img src="images/1/11.png" width="100" height="100" />
										</div>

										<div class="list-conten">
											<p>${enterprise.title!''}</p>
											<div>${enterprise.content!''}</div>
										</div>
									</div>
								</#list>
							</#if>
							<div><span class="demand-enterprise-btn">更多>></span></div>
						</div>
					</div>
				</div>
				<div class="demand-vx">
					<div class="demand-vx-img">
						<img class="vx-img" src="/images/8.png" width="110"/>
					</div>
					<div class="demand-vx-text">
						微信二维码
					</div>
				</div>
			</div>
        <#include "../public/foot.html" encoding="utf-8">

	</body>
</html>
