<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <#include "../public/common.html" encoding="utf-8">
    <link rel="stylesheet" href="/css/resultPsd.css">
</head>
<body>
<!--头部-->
<#include "../public/head.html" encoding="utf-8">
<!--导航-->
    <#include "../public/navigator.html" encoding="utf-8">

<div class="container">
    <div class="title"><@spring.message code='resetpassword'/></div>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input class="layui-input" type="password" name="oldpass" placeholder="<@spring.message code='inputoriginpassword'/>">
                        <div class="bord-fa"></div>
                        <i class="iconfont vercode">&#xe673;</i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input class="layui-input" type="password" name="newpass" placeholder="<@spring.message code='inputnewpassword'/>">
                        <div class="bord-fa"></div>
                        <i class="iconfont vercode">&#xe673;</i>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input class="layui-input" type="password" name="newpass2" placeholder="<@spring.message code='inputpasswordagain'/>">
                        <div class="bord-fa"></div>
                        <i class="iconfont vercode">&#xe673;</i>
                    </div>
                </div>
                <div>
                    <button type="button" class="layui-btn nextBtn" style="margin-top: 40px;"><@spring.message code='submit'/></button>
                </div>
            </form>
        </div>
    </div>

</div>
        <#include "../public/foot.html" encoding="utf-8">
<script>
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , $ = layui.jquery
                , element = layui.element;

        $(".nextBtn").on("click", function () {
            if ($("[name=newpass]").val() != $("[name=newpass2]").val()) {
                layer.msg("<@spring.message code='passwordnotequal'/>");
                $("[name=newpass2]").val("");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/usercenter/modify",
                data: {
                    oldPass: $("[name=oldpass]").val(),
                    newPass: $("[name=newpass]").val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.code != 200) {
                        layer.msg(data.desc);
                        return false;
                    }
                    window.location.href = "/login/logout";

                },
                error: function (data) {
                    layer.msg("<@spring.message code='networkerror'/>");
                }
            })
        })

    })
</script>
</body>
</html>