<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>充值</title>
		<#include "../public/common.html" encoding="utf-8"/>
		<link rel="stylesheet" href="/css/recharge.css">
	</head>
	<body>
        <#include "../public/head.html" encoding="utf-8">
        <#include "../public/navigator.html" encoding="utf-8">
		<div class="container">
			<div class="title"><p><@spring.message code='rechage'/></p></div>
			<div class="tip"><span>1</span><@spring.message code='choosepaymentcurrency'/></div>
			<div class="money-type">
				<a href="###" name="china" class="hv">￥&nbsp;<@spring.message code='rmb'/></a>
				<a href="###" name="english" class="hv">$&nbsp;&nbsp;<@spring.message code='dollar'/></a>
			</div>
			<div class="tip"><span>2</span><@spring.message code='choosebuycount'/></div>
			<div class="money-type" id="times">
			</div>
			<div class="tip"><span>3</span><@spring.message code='choosepayment'/></div>
			<div class="money-type" id="thirdPay">
				<a href="###" id="WEI_CHAT" name="WEI_CHAT" class="hv"><img src="/images/wx.png" width="30" style="vertical-align: -6px"><@spring.message code='weixnpayment'/></a>
				<a href="###" id="ALIPAY" name="ALIPAY" class="hv"><img src="/images/zfb.png" width="30" style="vertical-align: -7px;"><@spring.message code='alipayment'/></a>
				<a href="###" id="PAY_PAL" name="PAY_PAL" class="hv"><img src="/images/paypal.jpg" width="150" height="50"></a>
			</div>
			<hr/>
			<div class="settlement">
				<div><button class="layui-btn" onclick="payRecharge()"><@spring.message code='chargenow'/></button></div>
				<div class="msg" id="payAmount"></div>
			</div>
		</div>
        <#include "../public/foot.html" encoding="utf-8">

	</body>
</html>

<script>


		var rmbJson = "-1";
		var usdJson = "-1";
		var currencyCode = 1;
		var productId = 0;
		var productAmount = 0;
		var thirdPayType = 0;

        layui.use(['form', 'layedit', 'laydate'], function(){
            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate
                ,$ = layui.jquery;

			var rmbPay = ["ALIPAY","WEI_CHAT"];
			var usdPay = ["PAY_PAL"];

			function payJsonData(code,data){
				var thirdPay = [];
				var currency = '';
				if(code==1){
					thirdPay = rmbPay;
					rmbJson = data;
					currency = "￥";
					currencyCode =1;
				}else if(code ==2){
					thirdPay = usdPay;
					usdJson = data;
					currency = "$";
					currencyCode =2;
				}
				thirdPay.forEach(function(val,index){
					$("#"+val).show();
				});

				$("#times").empty();

				data.forEach(function(val,index){
					var text = '<a href="###" class="hv" value="'+val.amount+'" productId="'+val.id+'">'+currency+val.amount+'/'+val.times+'<@spring.message code="times"/></a>';
					$("#times").append(text);
				});

				$("#times a").on("click", function (e) {
					var target = $(this),
						parentBox = target.parent(),
						allA = $(parentBox).find("a");

					allA.removeClass("selected");
					target.addClass("selected");
					productAmount = target.attr("value");
					productId = target.attr("productId");
					$("#payAmount").empty();
					if(code==1){
						$("#payAmount").append("<span><@spring.message code='realpayrmb'/></span>￥"+productAmount);
					}else if(code==2){
						$("#payAmount").append("<span><@spring.message code='realpayusd'/></span>$"+productAmount);
					}

				});
			}


			function getProduct(code){

				$("#thirdPay a").hide();
				$("#thirdPay a").removeClass("selected");
				$("#payAmount").empty();

				if(code==1&&rmbJson!='-1'){
					payJsonData(code,rmbJson);
				}else if(code ==2&&usdJson!='-1'){
					payJsonData(code,usdJson);
				}
				$.ajax({
						url:"/pay/product?code="+code,
						dataType:'json',
						success:function(data){
							payJsonData(code,data);
						}
					});
			}


			function flushClick(){
				$(".container a").on("click", function (e) {
					var target = $(this),
						parentBox = target.parent(),
						allA = $(parentBox).find("a");

					allA.removeClass("selected");
					target.addClass("selected");

					var name = $(this).attr("name");
					if(name=='china'){
						getProduct(1);
					}else if(name=='english'){
						getProduct(2);
					}else if(name=='ALIPAY'){
						thirdPayType = 2;
					}else if(name=='WEI_CHAT'){
						thirdPayType = 3;
					}else if(name=='PAY_PAL'){
						thirdPayType = 1;
					}


					return false;
				})
			}

				//刷新
				flushClick();
				//隐藏
				$("#thirdPay a").hide();
        })

        	function payRecharge(){
				if(thirdPayType!=0){
					window.open('/pay/payRecharge?id='+productId+'&payCode='+thirdPayType);
				}else{
				    alert('请选择支付方式！');
				}
			}
    </script>
