<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加需求</title>
    <#include "../public/common.html" encoding="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/modify.css"/>
        </head>
<body>
<!--头部-->
<#include "../public/head.html" encoding="utf-8">
    <!--导航-->
    <#include "../public/navigator.html" encoding="utf-8">
        <!--内容-->
        <div class="content">
            <div class="contentbox">
                <#include "../public/left.html" encoding="utf-8">
                    <div class="contentbox-right">
                        <div class="contentbox-body-title">
                            <@spring.message code='addrequiremment'/>
                        </div>
                        <form method="POST" action="/request/save" name="form" accept-charset="UTF-8"
                              onsubmit="document.charset='UTF-8';">
                            <div class="contentbox-body">
                                <input type="hidden" name="id" value="${productRequest.id!''}">
                                <input type="hidden" name="userId" value="${userInfo.id!''}">
                                <input type="hidden" name="requestType" value="${productRequest.requestType}">
                                <div class="body-tag">
                                    <div class="body-line-style">
                                        <span class="body-line-style-span"><@spring.message code='telent'/></span>
                                    </div>
                                    <input type="hidden" name="keyWord">
                                    <div class="body-tag-content">
                                        <span class="body-tag-content-list">

                                        </span>
                                        <span class="body-tag-content-btn">
                                            <i class="iconfont span-add">&#xe601;</i>
                                            <@spring.message code='addtelent'/>
                                        </span>
                                    </div>
                                </div>
                                <div class="body-DeTitle">
                                    <div class="body-line-style">
                                        <span class="body-line-style-span"><@spring.message code='title'/></span>
                                    </div>
                                    <div class="layui-form">
                                        <input class="layui-input body-DeTitle-input" type="text" name="title"
                                               placeholder="<@spring.message code='inputtitle'/>">
                                    </div>
                                </div>
                                <div class="body-DeContent">
                                    <div class="body-line-style">
                                        <span class="body-line-style-span"><@spring.message code='content'/></span>
                                    </div>
                                    <div class="layui-form">
                                            <textarea name="content"
                                                      placeholder="<@spring.message code='inputcontent'/>"
                                                      class="layui-textarea body-DeContent-textarea"></textarea>
                                    </div>
                                </div>
                                <!--邮箱电话网站公众号-->
                                <div class="body-epsp">
                                    <div class="body-epsp-ep">
                                        <div class="body-epsp-ep-email">
                                            <div class="body-line-style">
                                                <span class="body-line-style-dot"></span>&nbsp;&nbsp;
                                                <span class="body-line-style-span"><@spring.message code='email'/></span>
                                            </div>
                                            <div class="layui-form">
                                                <input class="layui-input body-epsp-ep-email-input" type="text"
                                                       name="email"
                                                       value="${userInfo.email!''}"
                                                       placeholder="<@spring.message code='inputemail'/>">
                                            </div>
                                        </div>
                                        <div class="body-epsp-ep-phone">
                                            <div class="body-line-style">
                                                <span class="body-line-style-dot"></span>&nbsp;&nbsp;
                                                <span class="body-line-style-span"><@spring.message code='mobile'/></span>
                                            </div>
                                            <div class="layui-form">
                                                <input class="layui-input body-epsp-ep-phone-input" type="text"
                                                       name="mobile"
                                                       value="${userInfo.mobile!''}"
                                                       placeholder="<@spring.message code='inputmobile'/>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body-epsp-sp">
                                        <div class="body-epsp-sp-site">
                                            <div class="body-line-style">
                                                <span class="body-line-style-span"><@spring.message code='website'/></span>
                                            </div>
                                            <div class="layui-form">
                                                <input class="layui-input body-epsp-ep-site-input" type="text"
                                                       name="website" value="${userInfo.website!''}"
                                                       placeholder="<@spring.message code='inputwebsite'/>">
                                            </div>
                                        </div>
                                        <div class="body-epsp-sp-public">
                                            <div class="body-line-style">
                                                <span class="body-line-style-span"><@spring.message code='wechatpublicaccount'/></span>
                                            </div>
                                            <div class="layui-form">
                                                <input class="layui-input body-epsp-sp-public-input" type="text"
                                                       name="publicPlatform" value="${userInfo.publicPlatform!''}"
                                                       placeholder="<@spring.message code='inputwechatpublicaccount'/>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body-details">
                                    <input type="hidden" name="qrcode">
                                    <div class="body-details-img">
                                        <p><@spring.message code='upload'/><br/><@spring.message code='qrcode'/></p>
                                        <img class="body-details-ewm"/>
                                    </div>
                                    <div class="body-details-list">
                                        <div class="body-details-vf">
                                            <div class="body-details-vf-vx">
                                                <div class="body-line-style">
                                                    <span class="body-line-style-span"><@spring.message code='wechat'/></span>
                                                </div>
                                                <div class="layui-form">
                                                    <input class="layui-input body-details-vf-vx-input" type="text"
                                                           name="wechat" value="${userInfo.wechat!''}"
                                                           placeholder="<@spring.message code='inputwechat'/>">
                                                </div>
                                            </div>
                                            <div class="body-details-vf-facebook">
                                                <div class="body-line-style">
                                                    <span class="body-line-style-span">Facebook</span>
                                                </div>
                                                <div class="layui-form">
                                                    <input class="layui-input body-details-vf-facebook-input"
                                                           type="text"
                                                           name="facebook" value="${userInfo.facebook!''}"
                                                           placeholder="<@spring.message code='inputfacebook'/>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="body-details-wl">
                                            <div class="body-details-wl-wapp">
                                                <div class="body-line-style">
                                                    <span class="body-line-style-span">WhatsApp</span>
                                                </div>
                                                <div class="layui-form">
                                                    <input class="layui-input body-details-wl-wapp-input" type="text"
                                                           name="whatsapp" value="${userInfo.whatsapp!''}"
                                                           placeholder="<@spring.message code='inputwhatsapp'/>">
                                                </div>
                                            </div>
                                            <div class="body-details-wl-lin">
                                                <div class="body-line-style">
                                                    <span class="body-line-style-span">LinkedIn</span>
                                                </div>
                                                <div class="layui-form">
                                                    <input class="layui-input body-details-wl-lin-input" type="text"
                                                           name="linkedIn" value="${userInfo.linkedin!''}"
                                                           placeholder="<@spring.message code='inputinkedin'/>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body-ComMethods">
                                    <input type="hidden" name="others">
                                    <div class="body-line-style">
                                        <span class="body-line-style-span"><@spring.message code='othercommunications'/></span>
                                    </div>
                                    <div class="body-ComMethods-com">
                                        <i class="iconfont body-ComMethods-com-addbtn">&#xe601;</i>
                                        <div class="layui-form body-ComMethods-com-box">
                                            <input class="layui-input body-ComMethods-com-name" type="text"
                                                   placeholder="<@spring.message code='inputcommunicatetype'/>">
                                            <span class="body-ComMethods-com-span">:</span>
                                            <input class="layui-input body-ComMethods-com-content" type="text"
                                                   placeholder="<@spring.message code='inputcommunicateaccount'/>">
                                        </div>
                                    </div>
                                </div>
                                <div class="body-userAgreement">
                                    <div class="layui-form">
                                        <input name="agreement" type="radio" value="nan"
                                               title="<@spring.message code='acceptdeal'/>">
                                    </div>

                                </div>
                                <div class="body-SaveBtn">
                                    <div class="body-SaveBtn-btn">
                                        <@spring.message code='save'/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        <#include "../public/foot.html" encoding="utf-8">
</body>
<script>
    layui.use(['form', 'layedit', 'laydate', 'upload'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery
            , upload = layui.upload;

        $(document).on("click", ".body-tag-ibtn", function (e) {
            var target = $(e.target);
            var parent = target.parent();
            var data = parent[0].firstChild.data;
            parent.remove();
            var keyWord = $("[name=keyWord]").val();
            keyWord = keyWord.replace(data, "").replace("\;\;", "\;");
            if (keyWord.indexOf(";") == 0) {
                keyWord = keyWord.substr(1, keyWord.length);
            }
            if (keyWord.indexOf(";") == keyWord.length - 1) {
                keyWord = keyWord.substr(0, keyWord.length - 1);
            }
            $("[name=keyWord]").val(keyWord);

            var list = $(".body-tag-content-list span")
            if (list.length == 4) {
                $(".body-tag-content-btn").css("margin-top", "0px");
                $(".body-tag-content-btn").css("margin-left", "15px");
            }
            if (list.length == 5) {
                $(".body-tag-content-btn").css("margin-left", "0px");
            }
        })
        //添加才能
        $(document).on("click", ".body-tag-content-btn", function (e) {
            //询问框
            layer.open({
                title: "<@spring.message code='pleaseaddtelent'/>",
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['360px', '120px'], //宽高
                content: '<div class="layer-from"><input type="text" name="line3-value"  placeholder="' + "<@spring.message code='inputtelent'/>" + '" " class="layui-input  line3-label"/></div><div class="layui-btn add-btn" style="width: 100px;float: right">' + "<@spring.message code='submit'/>" + '</div>'
            });
        })

        //添加才能
        $(document).on("click", ".add-btn", function (e) {
            var value = $("input[type=text][name=line3-value]").val();
            if (!value) {
                layer.msg("<@spring.message code='errortelent'/>", {time: 1500});
                return false;
            }
            var list = $(".body-tag-content-list span")
            if (list.length < 8) {
                $(".body-tag-content-list ").append('<span class="">' + value + '<i class="iconfont span-i body-tag-ibtn">&#xe638;</i></span>')
                layer.closeAll();
            } else {
                layer.closeAll();
                layer.msg("<@spring.message code='telentlimit'/>")
            }
            var keyWord = $("[name=keyWord]").val();
            if (!!keyWord) {
                keyWord = keyWord + ";" + value;
            } else {
                keyWord = value
            }
            $("[name=keyWord]").val(keyWord);

            if (list.length == 4) {
                $(".body-tag-content-btn").css("margin-top", "20px");
                $(".body-tag-content-btn").css("margin-left", "0px");
            } else {
                $(".body-tag-content-btn").css("margin-left", "15px");
            }
        })


        $(document).on("click", ".body-ComMethods-com-addbtn", function (e) {
            var target = $(e.target);
            var parent = target.parent()
            var ch = parent.children("div").first()
            parent.append('<div class="layui-form body-ComMethods-com-box">' + ch.html() + '</div>')
        });
        // 保存按钮
        $(document).on("click", ".body-SaveBtn", function (e) {
            var title = $("[name=title]").val();
            if (!title) {
                layer.msg("<@spring.message code='errortitle'/>", {time: 1500});
                return false;
            }
            if (title.length > 30) {
                layer.msg("<@spring.message code='titlelimit'/>", {time: 1500});
                return false;
            }
            var content = $("[name=content]").val();
            if (!content) {
                layer.msg("<@spring.message code='errorcontent'/>", {time: 1500});
                return false;
            }
            var email = $("[name=email]").val();
            if (!email) {
                layer.msg("<@spring.message code='erroremail'/>", {time: 1500});
                return false;
            }
            var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
            if (!reg.test(email)) {
                layer.msg("<@spring.message code='emailwrong'/>", {time: 1500});
                return false;
            }
            var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
            var mobile = $("[name=mobile]").val();
            if (!mobile) {
                layer.msg("", {time: 1500});
                return false;
            }
            if (!myreg.test(mobile)) {
                layer.msg("<@spring.message code='invalidphone'/>", {time: 1500});
                return false;
            }
            var agree = $("[name=agreement]:checked").val();
            if (!agree) {
                layer.msg("<@spring.message code='agreedeal'/>", {time: 1500});
                return false;
            }
            var others = "";
            $(".body-ComMethods-com").children(".body-ComMethods-com-box").each(function (i, item) {
                var name = $(this).children(".body-ComMethods-com-name:first").val();
                var content = $(this).children(".body-ComMethods-com-content:first").val();
                if (!!others) {
                    others = others + ";" + name + ":" + content;
                } else {
                    others = name + ":" + content;
                }
                $("[name=others]").val(others);
            });
            $("[name=form]").submit();
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '.body-details-img' //操作对象
            , url: '/file/upload'	//上传路径
            , data: {type: 'request'}
            , method: 'POST'	 	//上传的方法
            , auto: true			//自动上传否？
            , bindAction: '.body-SaveBtn-btn'		//开启上传的按钮
            , choose: function (obj) {				//选择文件之后
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $(".body-details-ewm").attr("src", result);
                });
            }
            , done: function (res) {		//上传成功的回调
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg("<@spring.message code='uploadfail'/>");
                }
                var path = res.path;
                $("[name=qrcode]").val(path);
                $(".body-details-ewm").attr("src", path);
                //上传成功
            }
            , error: function () {			//上传失败的回调
                //演示失败状态，并实现重传
                //    var demoText = $('#demoText');
                //    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                //    demoText.find('.demo-reload').on('click', function(){
                //      uploadInst.upload();
                //    });
            }
        });


    })
</script>
</html>
