<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>需求详情</title>
		<#include "../public/common.html" encoding="utf-8">

		<link rel="stylesheet" href="/css/demand.css">
	</head>
	<body>
        <#include "../public/head.html" encoding="utf-8">
		<#include "../public/navigator.html" encoding="utf-8">
		<div class="container">
			<div class="main-box">
				<div>
					<div class="information">
						<div class="photo">
							<a href=""><img src="${productRequest.userInfo.showImg!''}" alt="张大大的头像"></a>
						</div>
						<div class="info">
							<p class="name">${productRequest.userInfo.nickName!''</p>
							<p class="nat"><i class="iconfont">&#xe611;</i><span>中国 北京</span><img src="/images/gj.png" alt="国籍"></p>
							<p class="text"><span class="disc"></span>
								<span><#if productRequest.userType==1>个人<#else>企业</#else></#if><#if productRequest.requestType == 1>服务<#else>需求</#if></span>
								<#if productRequest.requestType == 1>我可以提供国际人才或资源<#else>我要找国际人才或资源</#if></p>
						</div>
						<div class="nationality">
							<p>国籍</p>
							<p><img src="/images/gj.png" alt="国籍"></p>
						</div>
					</div>
					<div class="content">
						<div><h2>${productRequest.title}</h2></div>
						<div class="content-main">
							${productRequest.content}
						</div>
						<div class="time">
							<p>发布时间: ${productRequest.createTime?string("yyyy-MM-dd HH:mm:ss")}</p>
						</div>
					</div>
					<div class="level">
						<p>发布者水平</p>
						<div>
							<dl>
								<dt>日语</dt>
								<dd>不会</dd>
							</dl>
							<dl>
								<dt>韩语</dt>
								<dd>不会</dd>
							</dl>
							<dl>
								<dt>中文</dt>
								<dd>精通</dd>
							</dl>
							<dl>
								<dt>英文</dt>
								<dd>一般</dd>
							</dl>
							<dl>
								<dt>意大利语</dt>
								<dd>不会</dd>
							</dl>
							<dl>
								<dt>法语</dt>
								<dd>不会</dd>
							</dl>
						</div>
					</div>
					<div class="other">
						<div style="margin-bottom: 50px;">
							<a href="###">钢 管</a>
							<a href="###">LED灯设计</a>
							<a href="###">钢 管</a>
							<a href="###">LED灯设计</a>
							<a href="###">钢 管</a>
							<a href="###">LED灯设计</a>
							<a href="###">钢 管</a>
							<a href="###">钢 管</a>
							<a href="###">LED灯设计</a>
						</div>
						<div style="float: right;">
							<div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a></div>
							<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
						</div>
					</div>
				</div>
			</div>
			<div class="right-box">
				<!-- 未登录/注册 -->
				<div class="reg">
					<p>获取项目发起者联系方式请先</p>
					<p><a href="./login.html">登陆</a>或<a href="./register.html">注册</a></p>
					<form action="javascript:void(0)" id="login-form" class="layui-form" method="post">
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input name="email" type="text" id="email" placeholder="请输入邮箱" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input name="passwd" type="password" id="passwd" placeholder="请输入密码" class="layui-input">
							</div>
						</div>
						<button type="submit" class="layui-btn subBtn">登 陆</button>
					</form>
				</div>

				<!-- 已登陆 -->
				<div class="login" style="display: none;">
					<p class="login-title">获取项目发起者联系方式</p>
					<button class="layui-btn">点击获取</button>
					<div class="login-msg">
						<p>您每天有一次免费查看<span>张大大</span></p>
						<p>联系方式的权限</p>
					</div>
				</div>

				<div class="contact">
					<p>联系方式</p>
					<ul>
						<li style="margin-top: 27px;">手机号:<span>*****</span></li>
						<li>座机号:<span>*****</span></li>
						<li>我的网站:<span>*****</span></li>
						<li>微信号:<span>*****</span></li>
						<li>联系邮箱:<span>*****</span></li>
						<li>Facebook:<span>*****</span></li>
						<li>LikedIn:<span>*****</span></li>
						<li>WhatsApp:<span>*****</span></li>
					</ul>
				</div>
				<div class="ewm">
					<img src="/images/ewm.png" alt="二维码">
					<span>微信二维码</span>
				</div>
			</div>
		</div>
        <#include "../public/foot.html" encoding="utf-8">

	</body>

	<script>
        layui.use(['form', 'layedit', 'laydate'], function(){
            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate
                ,$ = layui.jquery;

            $(".language-btns").click(function(){
                if(!$(".span-div").is(':hidden')){//如果当前不隐藏
                    $('.span-div').hide();//就隐藏div
                    $(".language-icon").html("&#xe61a;")
                }else{//否则
					$('.userbox').hide();//就隐藏div
					$(".user-icon").html("&#xe61a;")
                    $('.span-div').show();//那么就显示div
                    $(".language-icon").html("&#xe619;")
                }
            })

            $(".user-btn").click(function(){
                if(!$(".userbox").is(':hidden')){//如果当前不隐藏
                    $('.userbox').hide();//就隐藏div
                    $(".user-icon").html("&#xe61a;")
                }else{//否则
 					$('.span-div').hide();//就隐藏div
 					$(".language-icon").html("&#xe61a;")
                    $('.userbox').show();//那么就显示div
                    $(".user-icon").html("&#xe619;")
                }
            });

            // 登陆按钮事件
            $(".subBtn").click(function() {
                var regBox = $(".reg:eq(0)"),// 未登录框盒子
                    loginBox = $(".login:eq(0)"),// 登陆后的盒子
                    contactBox = $(".contact:eq(0)"), // 联系方式的盒子
                    email = $("#email").val(),// 邮箱输入框值
                    passwd = $("#passwd").val();// 密码输入框值


                if(email == "admin" && passwd == "1") {
                    regBox.hide(); // 未登录盒子隐藏
                    loginBox.show();// 登陆后的盒子显示

                    var getInfoBtn = $(".login button:eq(0)").click(function () {
                        loginBox.hide(); // 获取资料后隐藏信息
                        contactBox.css("marginTop","140px"); // 添加距离
                        contactBox.find("li span").text("12345678910");
                    });

                } else {
                    alert("登陆失败");
                }
            });
        })
    </script>
</html>
