<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>需求详情</title>
    <#include "../public/common.html" encoding="utf-8"/>

    <link rel="stylesheet" href="/css/demand.css">
    <link rel="stylesheet" href="/css/lrtk.css">
    <script src="/js/slide.js"></script>
</head>

<body>
<#include "../public/head.html" encoding="utf-8">
<#include "../public/navigator.html" encoding="utf-8">
<div class="container">
    <div class="main-box">
        <div>
            <div class="content">
                <div>
                    <h2>${productRequest.title!''}</h2>
                </div>
                <div class="mes">
                    <span class="circleMes">
                        <span class="circle"></span>
                        <#if productRequest.userType.code ==1>
                        <@spring.message code='personal'/>
                        <#else>
                        <@spring.message code='enterprise'/>
                        </#if>
                        <#if productRequest.requestType.code == 1>
                        <@spring.message code='service'/>
                        <#else>
                        <@spring.message code='requirement'/>
                        </#if>
                    </span>
                    <span>
                        <#if productRequest.requestType.code == 1>
                        <@spring.message code='supplyservice'/>
                        <#else>
                        <@spring.message code='requireservice'/>
                        </#if>
                    </span>
                        <img src="/images/times.png" class="times">
                    <span style=" margin-right: 15px;">
                        <#if productRequest.createTime??>${productRequest.createTime?string("yyyy-MM-dd HH:mm:ss")}
                        </#if>
                    </span>
                    <img src="/images/eye.png" style="width:18px;height:13px;margin-right:5px;vertical-align:middle;">
                    <span>${productRequest.viewCount!''}</span>
                </div>
                <div id=picarea>
                    <div class="">
                        <div id=bigpicarea>
<!--                            <#if productRequest.userInfo??>-->

<!--                            </#if>-->

                            <div id=image_xixi-01 class=image>
                                <IMG alt="" src="/images/42766101.jpg" width=772 height=434/>
                                <div class=word>

                                </div>
                            </div>
                            <div id=image_xixi-04 class=image>
                                <IMG alt="" src="/images/42813139.jpg" width=772 height=434>
                                <div class=word>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id=smallpicarea>
                        <div id=thumbs>
                            <ul>
                                <li class="first btnPrev"><IMG id=play_prev src="/images/left.png"></li>
                                <li class=slideshowItem>
                                    <a id=thumb_xixi-01 href="#"><IMG src="/images/42766316.jpg" width=90
                                                                      height=60></a>
                                </li>
                                <li class=slideshowItem>
                                    <a id=thumb_xixi-02 href="#"><IMG src="/images/42813171.jpg" width=90
                                                                      height=60></a>
                                </li>
                                <li class=slideshowItem>
                                    <a id=thumb_xixi-03 href="#"><IMG src="/images/42813178.jpg" width=90
                                                                      height=60></a>
                                </li>
                                <li class=slideshowItem>
                                    <a id=thumb_xixi-04 href="#"><IMG src="/images/42813186.jpg" width=90
                                                                      height=60></a>
                                </li>
                                <li class="last btnNext"><IMG id=play_next src="/images/right.png"></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="peopleMes">
                    <p><span>姓&nbsp&nbsp名：&nbsp&nbsp</span> ${productRequest.userInfo.nickName!''}</p>
                    <p><span><@spring.message code='nationality'/>：&nbsp&nbsp</span> ${productRequest.userInfo.nowNationality!''}</p>
                    <p><span>所在地：&nbsp&nbsp</span> ${productRequest.userInfo.localAddr!''}</p>
                    <p><span>座机号：&nbsp&nbsp</span> ${productRequest.userInfo.mobile!''}</p>
                    <p><span>微信号：&nbsp&nbsp</span> ${productRequest.userInfo.wechat!''}</p>
                    <p><span>我的网站：&nbsp&nbsp</span> ${productRequest.userInfo.website!''}</p>
                    <p><span>所在地：&nbsp&nbsp</span> ${productRequest.userInfo.localAddr!''}</p>
                    <p><span>座机号：&nbsp&nbsp</span> ${productRequest.userInfo.mobile!''}</p>
                    <p><span>微信号：&nbsp&nbsp</span> ${productRequest.userInfo.wechat!''}</p>
                    <p><span>我的网站：&nbsp&nbsp</span> ${productRequest.userInfo.website!''}</p>
                    <p><span>联系邮箱：&nbsp&nbsp</span> ${productRequest.userInfo.email!''}</p>
                    <p><span>Facebook：&nbsp&nbsp</span> ${productRequest.userInfo.facebook!''}</p>
                    <p><span>LinkedIn：&nbsp&nbsp</span> ${productRequest.userInfo.linkedin!''}</p>
                    <p><span>WhatsApp：&nbsp&nbsp</span> ${productRequest.userInfo.whatsapp!''}</p>
                    <div>
                        <div class="phone">
                            <div><img src="/images/phone.png"></div>
                            <#if productRequest.userInfo.mobile??>
                                ${productRequest.userInfo.mobile}
                            </#if>
                        </div>
                        <img src="${productRequest.qrcode}" onerror="this.src='../images/ewm2.png'" class="ewm2">
                    </div>
                </div>
                <div class="introduce">需求详情介绍</div>
            </div>

        </div>

        <div class="other">
            <div class="otherMes">
                ${productRequest.content!''}
            </div>
            <div style="margin-bottom: 50px;">
                <#if productRequest.keyWord??>
                    <#list productRequest.keyWord?split(";") as key>
                    <a href="###">${key}</a>
                    </#list>
                </#if>
            </div>
            <div style="float: right;">
                <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a
                        href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#"
                                                                                           class="bds_weixin"
                                                                                           data-cmd="weixin"
                                                                                           title="分享到微信"></a><a href="#"
                                                                                                                class="bds_tqf"
                                                                                                                data-cmd="tqf"
                                                                                                                title="分享到腾讯朋友"></a><a
                        href="#" class="bds_fbook" data-cmd="fbook"
                        title="分享到Facebook"></a><a href="#" class="bds_linkedin" data-cmd="linkedin"
                                                   title="分享到linkedin"></a><a href="#" class="bds_twi" data-cmd="twi"
                                                                              title="分享到Twitter"></a>
                </div>
                <script>window._bd_share_config = {
                    "common": {
                        "bdSnsKey": {},
                        "bdText": "",
                        "bdMini": "2",
                        "bdMiniList": false,
                        "bdPic": "",
                        "bdStyle": "1",
                        "bdSize": "24"
                    }, "share": {}
                };
                with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
            </div>
        </div>
    </div>
    <div>
        <div class="level">
            <p><@spring.message code='langugelevel'/></p>
            <ul>
                <#if productRequest.userInfo.language??>
                <#list productRequest.userInfo.language as languageLevel>
                <li>
                    <span>${languageLevel.languageEnum.cnName}</span>
                    ${languageLevel.level.cnName}
                </li>
                </#list>
                </#if>
            </ul>
        </div>

    </div>
</div>

</div>

<#include "../public/foot.html" encoding="utf-8">

<script>
    var target = ["xixi-01", "xixi-02", "xixi-03", "xixi-04"];
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery;

    })
</script>
</body>

</html>