<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>发布历史</title>
		<#include "../public/common.html" encoding="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/releaseHistory.css"/>
	</head>
	<body>
        <#include "../public/head.html" encoding="utf-8"/>
        <#include "../public/navigator.html" encoding="utf-8"/>
		<div class="content">
			<div class="contentbox">
				<div class="left-nav">
					<#include "../public/left.html" encoding="utf-8"/>
				</div>
				<div class="contentbox-right">

					<#list productRequestList as productRequest>

					<div class="contentbox-list" style="margin-top: 0px;">
						<div class="list-tt">
							<span class="list-tt-title">${productRequest.title!''}</span>
							<span class="list-tt-time"><@spring.message code='publishdate'/>：<#if productRequest.createTime??>${productRequest.createTime?string("yyyy-MM-dd HH:mm:ss")}</#if></span>
						</div>
						<div class="list-cont">
							${productRequest.content}
						</div>
						<div class="list-btn">
							<div class="list-btn-state">
								<div class="list-btn-d"></div>
								<span class="list-btn-state-span"><#if productRequest.status??>${productRequest.status.getName()!''}</#if></span>
							</div>
							<div class="list-btn-btns">
								<div class="list-btn-btns-style list-btn-btns-translation" value="${productRequest.id}" ><@spring.message code='translate'/></div>
								<div class="list-btn-btns-style" onclick="redirectClick('/request/lc/edit?id=${productRequest.id}')"><@spring.message code='modify'/></div>
								<div class="list-btn-btns-style" onclick="redirectClick('/request/lc/myDetail?id=${productRequest.id}')"><@spring.message code='detail'/></div>
							</div>
						</div>
					</div>

					</#list>
				</div>
			</div>

		</div>
        <#include "../public/foot.html" encoding="utf-8">

	</body>

</html>





<script>

	var toReqId = '0';

	layui.use(['form', 'layedit', 'laydate','layer'], function(){
	  var form = layui.form
	  ,layer = layui.layer
	  ,layedit = layui.layedit
	  ,laydate = layui.laydate
	  ,tips = layui.tips
	  ,$ = layui.jquery;


		//翻译弹出层
		$(".list-btn-btns-translation").click(function(){
			toReqId = $(this).attr("value");
			layer.open({
			  type: 1,
			  skin: 'layer-div',
			  content: '<div class="layer-div-btns"><div class="layer-div-btns-cancel">取&nbsp;&nbsp;&nbsp;消</div><div class="layer-div-btns-translation">继续翻译</div> </div>  <div class="layer-div-title">可免费翻译200字内的次数</div><div class="layer-div-num"><span class="layer-div-num-1">1</span><span class="layer-div-num-2">次</span></div>	'
			  ,area: ['500px', '300px'] //宽高
			  ,title: false
			  ,shadeClose: true //开启遮罩关闭
			  ,closeBtn: 0, //不显示关闭按钮
			});

		})


		//关闭弹出层
		$(document).on('click', '.layer-div-btns-cancel', function() {
			layer.closeAll()
		});


		//继续翻译按钮
		$(document).on('click', '.layer-div-btns-translation', function() {
			layer.closeAll()
			layer.open({
			  type: 1,
			  skin: 'layer-div-CN-ENG',
			  content: '<div class="choose-CN choose-CE-style">翻&nbsp;译&nbsp;成&nbsp;中&nbsp;文</div><div class="choose-ENG choose-CE-style">翻&nbsp;译&nbsp;成&nbsp;英&nbsp;文</div>'
			  ,area: ['500px', '300px'] //宽高
			  ,title: false
			  ,shadeClose: true //开启遮罩关闭
			  ,closeBtn: 1, //不显示关闭按钮
			});
		});
		//翻译中文按钮
		$(document).on('click', '.choose-CN', function() {
			$.post('/translation/apply', {reqId:toReqId,fromType:1}, function (json) {
				layer.msg(json.desc);
			}, 'json');
			layer.closeAll()
		});
		//翻译英文按钮
		$(document).on('click', '.choose-ENG', function() {
			$.post('/translation/apply', {reqId:toReqId,fromType:2}, function (json) {
				layer.msg(json.desc);
			}, 'json');
			layer.closeAll()

		});


})
  	</script>
