<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>需求大厅</title>

    <#include "../public/common.html" encoding="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/zml.css"/>
</head>

<body>
<!--头部-->
<#include "../public/head.html" encoding="utf-8">
<#include "../public/navigator.html" encoding="utf-8">

<div class="content">
    <div class="center shadow">
        <div class="title">
            <div class="title-screen">
                <@spring.message code='choose'/>：
            </div>
            <div>
                <div class="titles">
                    <div onclick="redirectClick('/request/list/0/0/2/10/1.html')"><@spring.message code='requirement'/></div>
                    <div onclick="redirectClick('/request/list/1/1/2/10/1.html')"><@spring.message code='chinesepersonal'/></div>
                    <div onclick="redirectClick('/request/list/2/1/2/10/1.html')"><@spring.message code='foreignpersonal'/></div>
                    <div onclick="redirectClick('/request/list/1/2/2/10/1.html')"><@spring.message code='chineseenterprise'/></div>
                    <div onclick="redirectClick('/request/list/2/2/2/10/1.html')"><@spring.message code='foreignenterprise'/></div>
                </div>
                <div class="titles">
                    <div onclick="redirectClick('/request/list/0/0/1/10/1.html')"><@spring.message code='service'/></div>
                    <div onclick="redirectClick('/request/list/1/1/1/10/1.html')"><@spring.message code='chinesepersonal1'/></div>
                    <div onclick="redirectClick('/request/list/2/1/1/10/1.html')"><@spring.message code='foreignpersonal1'/></div>
                    <div onclick="redirectClick('/request/list/1/2/1/10/1.html')"><@spring.message code='chineseenterprise1'/></div>
                    <div onclick="redirectClick('/request/list/2/2/1/10/1.html')"><@spring.message code='foreignenterprise1'/></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="center">
        <!-- for循环 类名为personInformation 的div 即可 -->
        <#if requestList??>
            <#list requestList.list as request>
                <div class="personInformation">
                    <div style="display: flex;">
                        <div class='leftBox'>
                            <div>
                                <img class='personImg' src="${request.userInfo.showImg!'/images/top1.jpg'}" alt="汇网" width="80" height="80" />
                            </div>
                            <div class='personTitleBox'>
                                <div class='spot'></div>
                                <div class='personTitle'>
                                <#if request.userInfo.isForeign == 1>
                                    <@spring.message code='chinese'/>
                                <#else>
                                    <@spring.message code='foreign'/>
                                </#if>
                                <#if request.userType.code == 1>
                                <@spring.message code='personal'/>
                                <#else>
                                <@spring.message code='enterprise'/>
                                </#if>
                            &nbsp;&nbsp;
                                <#if request.requestType.code == 1>
                                    <@spring.message code='supplyservice'/>
                                <#else>
                                    <@spring.message code='requireservice'/>
                                </#if>
                                </div>
                            </div>
                        </div>

                        <div class='centerBox'>
                            <div class="firstCell">
                                <div class="firstCellLeft">
                                    <div class="name">${request.userInfo.nickName}</div>
                                    <div class="age">28岁</div>
                                    <div class="address">
                                        <#if request.userInfo.nowNationality??>
                                            ${request.userInfo.nowNationality.country}
                                        <#else>
                                            暂无
                                        </#if>

                                    </div>
                                    <img width="20" height="20" src="/images/top1.jpg" alt="">
                                    <div class="title1">
                                    <#if request.requestType.code == 1>
                                        <@spring.message code='supplyservice'/>
                                        <#else>
                                        <@spring.message code='requireservice'/>
                                    </#if>
                                    </div>
                                </div>
                                <div class='firstCellRight'>
                                    <div class="addressBox">
                                        <img width="14px" height="16px" src="/images/country/china.gif" alt="">
                                        <div class="address">${request.userInfo.briNationality!'暂无'}</div>
                                    </div>
                                    <div class="numberBox">
                                        <img width="20px" height="13px" src="/images/eye.png" alt="">
                                        <div class="num">${request.viewCount}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="secondCell">
                                <p>${request.title}</p>
                            </div>
                            <div class="thirdCell">
                                <p>${request.content}</p>
                            </div>
                            <div class="lastCell">
                            <#if request.keyWord??>
                                <#list request.keyWord?split(";") as key>
                                <#if key_index lt 4>
                                    <span class="tag">${key}</span>
                                </#if>
                                </#list>
                            </#if>
                            </div>
                        </div>
                    </div>
                    <div class="shadow myButton" >
                        <a href="/request/detail?id=${request.id}"><@spring.message code='detail'/></a>
                    </div>
                </div>
            </#list>
        </#if>
    </div>
</div>

<#include "../public/foot.html" encoding="utf-8">

</body>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery;


    })
</script>

</html>