<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <#include "../public/common.html" encoding="utf-8">
    <link rel="stylesheet" href="/css/resultPsd.css">
</head>
<body>
<!--头部-->
<#include "../public/head.html" encoding="utf-8">
<!--导航-->
    <#include "../public/navigator.html" encoding="utf-8">

<div class="container">
    <div class="title"><@spring.message code='resetpassword'/></div>
    <div>
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this"><@spring.message code='email'/></li>
                <li><@spring.message code='mobile'/></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form layui-form-pane" action="javascript:;">
                        <div class="layui-form-item" style="margin-bottom: 50px">
                            <div class="layui-input-block">
                                <input class="layui-input" type="text" name="email" placeholder="<@spring.message code='inputemail'/>">
                                <div class="bord-fa"></div>
                                <i class="iconfont vercode">&#xe75a;</i>
                                <!--<div class="ok-icon"><i class="iconfont" style="color: green;">&#xe75c;</i></div>-->
                            </div>
                        </div>
                        <div>
                            <button type="button" class="layui-btn nextBtn next"><@spring.message code='next'/></button>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form layui-form-pane" action="javascript:;">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input class="layui-input" type="text" placeholder="<@spring.message code='inputmobile'/>">
                                <div class="bord-fa"></div>
                                <i class="iconfont vercode">&#xe75b;</i>
                                <div class="ok-icon" style="display: none"><i class="iconfont" style="color: green;">&#xe75c;</i>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-bottom: 30px">
                            <div class="layui-input-block">
                                <input class="layui-input half-input" type="text" placeholder="<@spring.message code='inputcheckcode'/>">
                                <div class="bord-fa"></div>
                                <i class="iconfont vercode">&#xe75d;</i>
                                <a href="javascript:" class="layui-form-label notSupport"><@spring.message code='getcheckcode'/></a>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="layui-btn nextBtn notSupport"><@spring.message code='next'/></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        <#include "../public/foot.html" encoding="utf-8">
<script>
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , $ = layui.jquery
                , element = layui.element;
        $(".notSupport").on("click", function () {
            layer.msg("<@spring.message code='notsupportmobile'/>");
        })
        $(".next").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/usercenter/checkmail",
                data: {email: $("imput [name=email]").val()},
                dataType: "json",
                success: function (data) {
                    if (data.code != 200) {
                        layer.msg(data.desc);
                        return false;
                    }
                    window.location.href = "/usercenter/toSendMail?mail=" + $("[name=email]").val();
                },
                error: function (data) {
                    layer.msg("<@spring.message code='networkerror'/>");
                }
            })
        })

    })
</script>
</body>
</html>