<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>申请翻译</title>
		<#include "../public/common.html" encoding="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/translationList.css"/>
	</head>
	<body>
        <#include "../public/head.html" encoding="utf-8"/>
        <#include "../public/navigator.html" encoding="utf-8"/>
		<div class="content">
			<div class="contentbox">
				<div class="left-nav">
					<#include "../public/left.html" encoding="utf-8"/>
				</div>
				<div class="contentbox-right">

					<#list translationApplyList as translationApply>

					<div class="contentbox-list" style="margin-top: 0px;">
						<div class="list-tt">
							<span class="list-tt-title">${translationApply.title!''}</span>
							<span class="list-tt-language"><@spring.message code='orilanguage'/>：${translationApply.origType.cnName}  --> <@spring.message code='translatelanguage'/>：${translationApply.fromType.cnName}</span>
							<span class="list-tt-time"><@spring.message code='publishdate'/>：<#if translationApply.createTime??>${translationApply.createTime?string("yyyy-MM-dd HH:mm:ss")}</#if></span>
						</div>
						<div class="list-btn">
							<div class="list-btn-state">
								<div class="list-btn-d"></div>
								<span class="list-btn-state-span"><#if translationApply.status??>${translationApply.status.getName()!''}</#if></span>
							</div>
							<div class="list-btn-btns">
								<#if translationApply.status.code == 0>
									<div class="list-btn-btns-style list-btn-btns-translation" value="${translationApply.id}" >支付</div>
								</#if>
								<div class="list-btn-btns-style"><@spring.message code='shutdown'/></div>
							</div>
						</div>
					</div>

					</#list>
				</div>
			</div>

		</div>
        <#include "../public/foot.html" encoding="utf-8">

	</body>

</html>




<script>

	var toReqId = '0';

	layui.use(['form', 'layedit', 'laydate','layer'], function(){
	  var form = layui.form
	  ,layer = layui.layer
	  ,layedit = layui.layedit
	  ,laydate = layui.laydate
	  ,tips = layui.tips
	  ,$ = layui.jquery;

		//翻译弹出层
		$(".list-btn-btns-translation").click(function(){
			toReqId = $(this).attr("value");
			layer.open({
			  type: 2,
			  skin: 'layer-div',
			  content:  ['/pay/translation?id='+toReqId,'no']
			  ,area: ['700px', '500px'] //宽高
			  ,title: false
			  ,shadeClose: true //开启遮罩关闭
			  ,closeBtn: 1, //不显示关闭按钮
			});
		})
		//关闭弹出层
		$(document).on('click', '.layer-div-btns-cancel', function() {
			layer.closeAll()
		});
})
  	</script>
