<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="../css/left_style.css"/>
    <link rel="stylesheet" type="text/css" href="../css/personalCenter.css"/>
    <#include "../public/common.html" encoding="utf-8">
</head>
<body>
<!--头部-->
    <#include "../public/head.html" encoding="utf-8">
    <#include "../public/navigator.html" encoding="utf-8">
<!--内容-->
<div class="content">
    <div class="contentBox">
        <#include "../public/left.html" encoding="utf-8">
        <div class="contentBox-body">
            <div class="contentBox-head">
                <div class="contentBox-head-view">
                    <div class="contentBox-head-view-i">
                        <i class="iconfont">&#xe643;</i>
                    </div>
                    <span class="contentBox-head-view-span1">查看联系方式总次数</span>
                    <span class="contentBox-head-view-num">${account.viewingTimes}</span>
                    <span class="contentBox-head-view-span2">次</span>
                    <div class="contentBox-head-view-btn">
                        购买
                    </div>
                </div>
                <div class="contentBox-head-translation">
                    <div class="contentBox-head-translation-i">
                        <i class="iconfont">&#xe69c;</i>
                    </div>
                    <a href="" title="查看说明"><i class="iconfont a-i">&#xe758;</i></a>
                    <span class="contentBox-head-translation-span1">免费翻译200字内的总次数</span>
                    <span class="contentBox-head-translation-num">${account.freeTranslate}</span>
                    <span class="contentBox-head-translation-span2">次</span>
                </div>
            </div>

            <div class="contentBox-trading">
                <div class="contentBox-trading-title">
                    <span class="contentBox-trading-title-span">交易记录</span>
                </div>
                <div class="contentBox-trading-table">
                    <table >
                        <tr class="table-trth-style">
                            <th>交易时间</th>
                            <th>交易金额</th>
                            <th>交易类型</th>
                            <th>交易内容</th>
                        </tr>
                        <#list payOrderList as payOrder>
                            <tr class="table-trtd-style">
                                <td>
                                    <p>${payOrder.createTime?string("HH-mm-ss")}</p>
                                    <p>${payOrder.createTime?string("yyyy-MM-dd")}</p>
                                </td>
                                <td>${payOrder.currency.symbol} ${payOrder.amount}</td>
                                <td>购买</td>
                                <td>${payOrder.payDetail}</td>
                            </tr>
                        </#list>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
        <#include "../public/foot.html" encoding="utf-8">
</body>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,$ = layui.jquery;

    })
</script>
</html>
