<div class="head">

    <div class="head1 ">
        <#if lan?? && lan== 'en'>
            <img class="img" src="/images/top1-en.jpg" alt="world wire" width="50" height="50" onclick="redirectClick('/')" style="cursor: pointer"/>
        <#else>
            <img class="img" src="/images/top1.jpg" alt="汇网" width="50" height="50" onclick="redirectClick('/')" style="cursor: pointer"/>
        </#if>

        <div class="head-search layui-form">
            <i class="layui-icon layui-icon-face-smile search-icon">&#xe615;</i>
            <div class="layui-input-inline head-search-input">
                <select name="modules" lay-verify="required" lay-search="" onkeyup="openRequireList(this)">
                    <option value="1"><@spring.message code="searchtelent"/></option>
                    <option value="2"><@spring.message code="searchwork"/></option>
                    <option value="3"><@spring.message code="searchresources"/></option>
                </select>
            </div>
        </div>

        <div class="layui-btn layui-btn-sm fabu-btn" onclick="redirectClick('/request/lc/release')"><@spring.message code="publish"/></div>
        <div class="btns">
					<span class="language-btns">
						<#if lan?? && lan== 'en'>
                            English
                        <#else>
                            中文
						</#if>
						<i class="layui-icon layui-icon-face-smile language-icon">&#xe61a;</i>
					&nbsp;&nbsp;&nbsp;
						<div class="span-div">
                            <p class="cn" onclick="redirectClick('/lan?lang=zh_CN')">中文</p>
							<hr/>
							<p class="eng" onclick="redirectClick('/lan?lang=en')">English</p>
						</div>
					</span>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <#if userId??>
                <div class="img-userhead">
                    <img src="${userInfo.showImg!'/images/defaultHeadImg.png'}" width="32" height="32"
                         style="border-radius: 16px;;"><!--头像-->
                    <span class="user-btn">${userInfo.nickName!''}
                                <i class="layui-icon layui-icon-face-smile user-icon"
                                   style="font-size: 14px;">&#xe61a;</i>
                            </span>
                    <div class="userbox">
                        <div class="userbox-user">
                            <img src="${userInfo.showImg!'/images/defaultHeadImg.png'}"/>
                            <span class="userbox-usename">${userInfo.nickName!''}</span>
                            <span class="userbox-usertype">
                                <#if loginInfo?? && loginInfo.type && loginInfo.type == 2>
                                    <@spring.message code="enterpriseuser"/>
                                <#else>
                                    <@spring.message code="personaluser"/>
                                </#if>
                            </span>
                        </div>
                        <div class="userbox-set" onclick="redirectClick('/usercenter/')">
                            <i class="iconfont " style="font-size: 14px;color: #333333;">&#xe606;</i>
                            &nbsp;&nbsp;&nbsp;<@spring.message code="setting"/>
                        </div>
                        <div class="userbox-out" onclick="redirectClick('/login/logout')">
                            <i class="iconfont " style="font-size: 14px;color: #333333;">&#xe652;</i>
                            &nbsp;&nbsp;&nbsp;<@spring.message code="quit"/>
                        </div>
                    </div>
                </div>
                <#else>
                    <span class="login-btn" onclick="redirectClick('/login/')"><@spring.message code="login"/></span>
                    <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                    <span class="register-btn"
                          onclick="redirectClick('/register/')"><@spring.message code="register"/></span>
            </#if>

        </div>
    </div>

</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery;

        $(".language-btns").click(function () {
            if (!$(".span-div").is(':hidden')) {//如果当前不隐藏
                $('.span-div').hide();//就隐藏div
                $(".language-icon").html("&#xe61a;")
            } else {//否则
                $('.userbox').hide();//就隐藏div
                $(".user-icon").html("&#xe61a;")
                $('.span-div').show();//那么就显示div
                $(".language-icon").html("&#xe619;")
            }
        })

        $(".user-btn").click(function () {
            if (!$(".userbox").is(':hidden')) {//如果当前不隐藏
                $('.userbox').hide();//就隐藏div
                $(".user-icon").html("&#xe61a;")
            } else {//否则
                $('.span-div').hide();//就隐藏div
                $(".language-icon").html("&#xe61a;")
                $('.userbox').show();//那么就显示div
                $(".user-icon").html("&#xe619;")
            }
        });
        $("[name=modules]").keydown(function (e) {
            if (e.keyCode == 13) {
                var selected = $("[name=modules]:selected").val();
                window.location.href = "/request/list/" + selected + "/2/4/1.html";
            }
        });
    })
</script>