<div class="nav">
    <div class="nav1">
        <ul>
            <li onclick="redirectClick('/')"><@spring.message code="home"/></li>
            <li onclick="redirectClick('/request.html')"><@spring.message code="requestlist"/></li>
            <li onclick="redirectClick('/')"><@spring.message code="productdesc"/></li>
            <li onclick="redirectClick('/')"><@spring.message code="aboutus"/></li>
            <li onclick="redirectClick('/helpCenter.html')"><@spring.message code="helpcenter"/></li>
        </ul>
    </div>
</div>