.foot { width: 100%; background: #3F3F3F; height: 54px; }
.foot .foot1 { line-height: 54px; margin: auto; margin-top: 40px; width: 1200px; text-align: center; font-size: 16px; color: rgba(225, 225, 225, 0.4); }
