@charset "UTF-8";
body { margin: 0px; padding: 0px; min-width: 1200px; font-family: "microsoft yahei"; }
body ul li { list-style: none; }
body .head { width: 100%; height: 69px; background: #FFFfff; padding-top: 1px; }
body .head .head1 { width: 1200px; height: 50px; background: #FFFfff; margin: auto; margin-top: 9px; }
body .head .head1 .img { float: left; }
body .head .head1 .head-search { float: left; margin-left: 50px; margin-top: 5px; }
body .head .head1 .head-search .search-icon { position: relative; top: 3px; left: 30px; z-index: 99; color: #d42026; }
body .head .head1 .head-search .head-search-input .layui-input { width: 210px; height: 40px; font-size: 14; padding-left: 33px; }
body .head .head1 .fabu-btn { float: right; width: 100px; margin-top: 10px; background: #d42026; color: #FFFFFF; }
body .head .head1 .btns { float: right; margin-top: 15px; margin-right: 15px; font-family: "microsoft yahei"; }
body .head .head1 .btns .language-icon { color: #333333; font-size: 14px; margin-left: 15px; }
body .head .head1 .btns .language-btns { position: relative; cursor: pointer; font-size: 12px; color: #333333; float: left; }
body .head .head1 .btns .language-btns .span-div { cursor: default;padding: 5px; width: 52px; position: absolute; top: 25px; left: 0;  background: #fff; border-radius: 3px; z-index: 80; display: none; background: url(../images/userbox.png) 1px no-repeat;background-size: 61px 63px;text-align: center;}
body .head .head1 .btns .language-btns .span-div .cn{position: relative;top: 5px; }
body .head .head1 .btns .language-btns .span-div p{cursor: pointer;}
body .head .head1 .btns .language-btns .span-div p:hover{color: #33333350;}
body .head .head1 .btns .login-btn { cursor: pointer; color: #333333; font-size: 12px; }
body .head .head1 .btns .login-btn:hover { color: #D42026; }
body .head .head1 .btns .register-btn { cursor: pointer; color: #333333; font-size: 12px; }
body .head .head1 .btns .img-userhead { color: #333333; font-size: 12px; float: left; margin-top: -5px; position: relative; }
body .head .head1 .btns .img-userhead .user-btn { cursor: pointer; }
body .head .head1 .btns .img-userhead .userbox { height: 156px; width: 160px; position: absolute; top: 35px; left: -22px; background-image: url(../images/userbox.png); background-size: 160px 156px; display: none; z-index: 999; }
body .head .head1 .btns .img-userhead .userbox .userbox-user { width: 140px; height: 50px; border-top: 1px; margin-top: 26px; margin-left: 10px; position: relative; font-size: 14px; }
body .head .head1 .btns .img-userhead .userbox .userbox-user img { width: 32px; height: 32px; border-radius: 16px; position: absolute; top: 10px; left: 10px; }
body .head .head1 .btns .img-userhead .userbox .userbox-user .userbox-usename { color: #333333; position: absolute; top: 10px; left: 50px; width: 88px;overflow: hidden}
body .head .head1 .btns .img-userhead .userbox .userbox-user .userbox-usertype { color: #979797; position: absolute; top: 27px; left: 50px; }
body .head .head1 .btns .img-userhead .userbox .userbox-set { border: 1px; margin-top: 10px; margin-left: 4px; border-left: 3px solid #FFFFFF00; padding: 2px 0 2px 0; }
body .head .head1 .btns .img-userhead .userbox .userbox-set i { margin-left: 14px; }
body .head .head1 .btns .img-userhead .userbox .userbox-out { border: 1px; margin-top: 10px; margin-left: 4px; border-left: 3px solid #FFFFFF00; padding: 2px 0 2px 0; }
body .head .head1 .btns .img-userhead .userbox .userbox-out i { margin-left: 14px; }
body .head .head1 .btns .img-userhead .userbox .userbox-set:hover, body .head .head1 .btns .img-userhead .userbox .userbox-out:hover { border-left: 3px solid #D42026; cursor: pointer; }
body .nav { width: 100%; height: 39px; background: #f9f9f9; border-top: solid 1px #e0e0e0; -moz-box-shadow: 0px 2px 5px #33333350; -webkit-box-shadow: 0px 2px 5px #33333350; box-shadow: 0px 2px 5px #33333350;}
body .nav .nav1 { width: 1200px; height: 30px; margin: auto; margin-top: 5px; }
body .nav .nav1 ul { margin-top: 9px; }
body .nav .nav1 ul li { width: 20%; float: left; font-size: 16px; font-family: "微软雅黑"; font-weight: 600; text-align: center; color: #333333; }
body .nav .nav1 ul li:hover { color: #d42026; cursor: pointer; }
