/*icon地址,.基本不变,更新需要手动更新*/
@font-face {
  font-family: 'iconfont';  /* project id 669777 */
  src: url('//at.alicdn.com/t/font_669777_r5dej48rwfb.eot');
  src: url('//at.alicdn.com/t/font_669777_r5dej48rwfb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_669777_r5dej48rwfb.woff') format('woff'),
  url('//at.alicdn.com/t/font_669777_r5dej48rwfb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_669777_r5dej48rwfb.svg#iconfont') format('svg');
}

/*icon的类名*/
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
