<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>test page</title>
</head>
<body>

<a href="/lan?lang=en">English(US)</a>
<a href="/lan?lang=zh_CN">简体中文</a>

下面是歡迎的內容：
<span th:text="${greet}"></span>

<h3 th:text="#{hello}"></h3>

<form method="post" enctype="multipart/form-data" action="/file/upload">
    <input type="text" name="type" id="type"/>
    <input type="file" name="file" id="file"/>
    <input type="submit" value="提交"/>
</form>

</body>
</html>