<p style="margin-top: 0px; margin-bottom: 0px; text-rendering: optimizeLegibility; font-feature-settings: &quot;kern&quot;; font-kerning: normal;">
    尊敬的用户，你好，
</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-rendering: optimizeLegibility; font-feature-settings: &quot;kern&quot;; font-kerning: normal;">
    感谢您开始使用世界汇网！ 我们需要更多信息来完成注册。 点击下面以激活您的电子邮件地址并完成注册：
</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-rendering: optimizeLegibility; font-feature-settings: &quot;kern&quot;; font-kerning: normal;">
    ##URL##
</p>
<p>
    <img id="u7101_img" class="img " src="http://ueditor.baidu.com/ueditor/themes/default/images/spacer.gif"/>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; text-rendering: optimizeLegibility; font-feature-settings: &quot;kern&quot;; font-kerning: normal;">
    如果您遇到问题，请将上述网址粘贴到您的网络浏览器中。
</p>
<p>
    <br/>
</p>
