<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.worldwire.dao.TradeOrderDao" >
  <resultMap id="BaseResultMap" type="com.spring.worldwire.model.TradeOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="third_order_num" property="thirdOrderNum" jdbcType="VARCHAR" />
    <result column="third_type" property="thirdType" typeHandler="com.spring.worldwire.extent.NumericEnumHandler" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="trade_name" property="tradeName" jdbcType="VARCHAR" />
    <result column="trade_detail" property="tradeDetail" jdbcType="VARCHAR" />
    <result column="status" property="status" typeHandler="com.spring.worldwire.extent.NumericEnumHandler" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="success_time" property="successTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, order_num, third_order_num, third_type, amount, total, currency, trade_name, 
    trade_detail, status, create_time, update_time, success_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from trade_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from trade_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.spring.worldwire.model.TradeOrder" useGeneratedKeys="true" keyProperty="id" >
    insert into trade_order (id, user_id, order_num, 
      third_order_num, third_type, amount, 
      total, currency, trade_name, 
      trade_detail, status, create_time, 
      update_time, success_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{orderNum,jdbcType=VARCHAR}, 
      #{thirdOrderNum,jdbcType=VARCHAR}, #{thirdType,typeHandler=com.spring.worldwire.extent.NumericEnumHandler}, #{amount,jdbcType=DECIMAL},
      #{total,jdbcType=INTEGER}, #{currency,jdbcType=VARCHAR}, #{tradeName,jdbcType=VARCHAR}, 
      #{tradeDetail,jdbcType=VARCHAR}, #{status,typeHandler=com.spring.worldwire.extent.NumericEnumHandler}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{successTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.spring.worldwire.model.TradeOrder" >
    insert into trade_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="thirdOrderNum != null" >
        third_order_num,
      </if>
      <if test="thirdType != null" >
        third_type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="tradeName != null" >
        trade_name,
      </if>
      <if test="tradeDetail != null" >
        trade_detail,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="successTime != null" >
        success_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="thirdOrderNum != null" >
        #{thirdOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="thirdType != null" >
        #{thirdType,typeHandler=com.spring.worldwire.extent.NumericEnumHandler},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="tradeDetail != null" >
        #{tradeDetail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,typeHandler=com.spring.worldwire.extent.NumericEnumHandler},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successTime != null" >
        #{successTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.worldwire.model.TradeOrder" >
    update trade_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="thirdOrderNum != null" >
        third_order_num = #{thirdOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="thirdType != null" >
        third_type = #{thirdType,typeHandler=com.spring.worldwire.extent.NumericEnumHandler},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        trade_name = #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="tradeDetail != null" >
        trade_detail = #{tradeDetail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,typeHandler=com.spring.worldwire.extent.NumericEnumHandler},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successTime != null" >
        success_time = #{successTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.worldwire.model.TradeOrder" >
    update trade_order
    set user_id = #{userId,jdbcType=BIGINT},
      order_num = #{orderNum,jdbcType=VARCHAR},
      third_order_num = #{thirdOrderNum,jdbcType=VARCHAR},
      third_type = #{thirdType,typeHandler=com.spring.worldwire.extent.NumericEnumHandler},
      amount = #{amount,jdbcType=DECIMAL},
      total = #{total,jdbcType=INTEGER},
      currency = #{currency,jdbcType=VARCHAR},
      trade_name = #{tradeName,jdbcType=VARCHAR},
      trade_detail = #{tradeDetail,jdbcType=VARCHAR},
      status = #{status,typeHandler=com.spring.worldwire.extent.NumericEnumHandler},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      success_time = #{successTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPage" parameterType="com.spring.worldwire.query.TradeOrderQuery">
    select <include refid="Base_Column_List"/>
    from trade_order
    <include refid="Query_Where"/>
    <if test="query.order != null and query.order == 0">
      order by desc
    </if>
    <if test="query.order != null and query.order == 1">
      order by asc
    </if>
  </select>

  <sql id="Query_Where">
    <where>
      <trim prefixOverrides="and">
        <if test="query.userId != null">
          user_id = #{query.userId,jdbcType=BIGINT}
        </if>
      </trim>
    </where>
  </sql>

  <select id="getByThirdTradeNum" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM
    trade_order WHERE third_order_num = #{thirdOrderNum,jdbcType=VARCHAR} AND  third_type = #{thirdType,typeHandler=com.spring.worldwire.extent.NumericEnumHandler}

    LIMIT 1

  </select>

  <select id="getByTradeNum" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM
    trade_order WHERE  order_num = #{orderNum,jdbcType=VARCHAR} third_type = #{thirdType,typeHandler=com.spring.worldwire.extent.NumericEnumHandler}

    LIMIT 1

  </select>
</mapper>